body{
  
}
h2{
  font-size: 28px;
  margin: 15px
}
@font-face{
  font-family: 'fnt_pronunciation';
  src: url(../font/Chonburi-Regular.ttf)
}
button{
  margin: 0 2px 16px; 
  
}
.btn-outline-primary{
  background-color: rgb(255, 255, 255, 0.25);
  font-weight: 450
}

p{
  background-color: rgb(255, 255, 255, 0.3);
  margin-bottom: 10px;
  font-weight: 560
}
select{
  background-color: rgb(255, 255, 255, 0.4);
  padding-bottom: 10px;
}
h1{
  margin: 15px 0
}
#pinReviewCont{
  width: 100%;
  text-align: center;
  background-image: url("../images/bg1.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 0px 12px
}
#pinReviewCont #pinyin{
  font-family: 'fnt_pronunciation';
  
}
#pinReviewCont div, #combTitle{
  display: inline-block;
  font-size: 0.7em;
  font-weight: 750;
  background-color: rgb(255, 255, 255, 0.3);
}
