body{
  
}
h2{
  font-size: 28px;
  margin: 15px
}
@font-face{
  font-family: 'fnt_pronunciation';
  src: url(../font/Chonburi-Regular.ttf)
}
.ion {
	display: inline-block;
	font-family: "Ionicons";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
  line-height: 1;
  z-index: -99;
}

.ion-hint:before {
	content: "\f101";
}
.ion-up:before{
  content: "\f10d"
  /* ion-arrow-up-b */
}
/* single-page icons */
.ion-back:before{
	content: "\f107";
	/* or ion-arrow-left-b */
}
.ion-next:before{
	content: "\f10a"
	/* ion-arrow-right-b */
}
.ion-clear:before{
	content:"\f4a1";
	/* ion-ios-rewind */
}
.ion-short:before{
	content: "\f470";
	/* ion-ios-nutrition */
}
.ion-long:before{
	content: "\f2a8";
	/* ion-pizza */
}

button{
  margin: 0 2px 16px; 
  
}
.btn-outline-primary{
  background-color: rgb(255, 255, 255, 0.25);
  font-weight: 450
}

p:not(#pHint){
  background-color: rgb(255, 255, 255, 0.3);
  margin-bottom: 10px;
  font-weight: 560
}

select{
  background-color: rgb(255, 255, 255, 0.4);
  padding-bottom: 10px;
}
h1{
  margin: 15px 0
}
#pinReviewCont{
  width: 100%;
  text-align: center;
  background-image: url("../images/bg1.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 0px 12px
}
#pinReviewCont #pinyin{
  font-family: 'fnt_pronunciation';
  
}
#dvLevel, #dvReview, #combTitle{
  display: inline-block;
  font-size: 0.7em;
  font-weight: 750;
  color: rgb(95, 95, 95);
  background-color: rgb(255, 255, 255, 0.3);
}
/* preserves bgcolor when hidding def*/
#dvPcombHint{
  height: 25px;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.3);
}
#pinReviewCont #dvConsult{
  float: right;  
  top: 0;
  right: 0;
}