#container{
  background: rgb(252,229,148);
background: linear-gradient(350deg, rgba(252,229,148,1) 58%, rgba(255,255,255,1) 79%);
  display: flex;
  justify-content: space-around;
  
  width: 60%;
  margin: 10% auto;
  /* transform: scale(1.2) */
}
#ime_word{ 
  text-align: center;
  box-sizing: border-box;
}
#ime_wrapper{
  width: 258px;
}
#pinReviewCont{
  box-sizing: border-box;
  width: 280px;
  /* margin: 90px 90px 90px 90px; */
  text-align: center;
  background-image: url("../images/bg1.png");
  background-size: 280px;
  background-repeat: no-repeat;
  background-position: 0px 12px;
}
h1{
  font-size: 1.8rem;
  font-style: italic;
  margin: 0px 30px 20px 0;
  display: inline-block;
}
h2{
  font-size: 1.9rem;
  
  display: inline-block;
  margin: 0px 0 10px 0 0;

}

@font-face{
  font-family: 'fnt_pronunciation';
  src: url(../font/Chonburi-Regular.ttf)
}
.ion {
	display: inline-block;
	font-family: "Ionicons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
  line-height: 1;
  z-index: -99;
}

.ion-hint:before {
	content: "\f101";
}
.ion-up:before{
  content: "\f10d"
  /* ion-arrow-up-b */
}
/* single-page icons */
.ion-back:before{
	content: "\f107";
	/* or ion-arrow-left-b */
}
.ion-next:before{
	content: "\f10a"
	/* ion-arrow-right-b */
}
.ion-clear:before{
	content:"\f4a1";
	/* ion-ios-rewind */
}
.ion-short:before{
	content: "\f470";
	/* ion-ios-nutrition */
}
.ion-long:before{
	content: "\f2a8";
	/* ion-pizza */
}

button{
  margin: 0 2px 16px;  
}
.btn-outline-dark{
  background-color: rgb(255, 255, 255, 0.25);
  font-weight: 450
}
#btnPrev, #btnNext, #btnHint{
  margin-bottom: 5px;
}
#btnPrev span, #btnNext span{
  font-size: 35px;
}
p{
  text-overflow: ellipsis; 
}
#idDisplay{
  font-size: 12px;
  padding: 0 1px;
  top: -17px;
}
p:not(#pHint){
  background-color: rgb(255, 255, 255, 0.3);
  color: #007bff;
  margin-bottom: 10px;
  font-weight: 560;
  
}

select{
  background-color: rgb(255, 255, 255, 0.4);
  padding-bottom: 10px;
}


#pinReviewCont #pinyin{
  font-family: 'fnt_pronunciation';
  
}
#dvLevel, #dvConsult span, #dvReview, #combTitle{
  display: inline-block;
  font-size: 0.7em;
  font-weight: 750;
  color: rgb(95, 95, 95);
  background-color: rgb(255, 255, 255, 0.3);
}

/* preserves bgcolor when hidding def*/
#dvPcombHint{
  height: 25px;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.3);
}
#rLevel{
  margin-bottom: -4px;
  position: relative;
  top: -4px
}
#pinReviewCont #dvConsult{
  display: inline-block;
}

.nav, .tab-content{
  display: none
}