%opacityShare {
  opacity: 0;
}

#review{
  padding: 10%
}

#review{
  .swipeable{
    position: relative;
    left: 0;
    top: 0;
    transition-property: opacity, left, top;
    transition-duration: .3s;
  }

  .swright{
    @extend %opacityShare;
    left:100px
  }
  .swleft{
    @extend %opacityShare;
    left:-100px
  }
  .show{
    opacity: 1;
  }
  .hide{
    opacity: 0;
  }
  .up{
    top: -38px
  }
  .upmore{
    top: -76px
  }
  .down{
    top: 38px
  }
}
