#review-block{
  .swipeable{
    position: relative;
    left: 0;
    top: 0;
    transition-property: opacity, left, top;
    transition-duration: .3s;
  }
  .swright{
    opacity: 0;
    left:100px
  }
  .swleft{
    opacity: 0;
    left:-100px
  }
  .swup{
    opacity: 0;
    top: -50px
  }
  .swdown{
    opacity: 0;
    top: 50px;
  }
}

.hide-overflow{
  text-overflow: ellipsis
}

#single-block{
  margin: 0 auto;

  input{
    font-size: 2em;
  }

}

#combs-block{
  padding: 10%;
  input{
    font-size: 1.5em;
  }
}
