body{
  background: rgb(232,232,232);
background: linear-gradient(10deg, rgba(232,232,202,1) 18%, rgba(255,255,255,1) 31%);
}
#divDownload{
  text-align: right;
  position: absolute;
  /* float: right; */
  top: 0px;
  right: 40px;
}
#divDownload img{
  width: 25px;
}
.modal-content{
  background-color: rgba(255, 255, 255, 0.8)
}
.display-3{
  font-size: 4vw;
  position: absolute;
  text-shadow:  2px 2px 5px grey;
  top: 0;
  left: 20%;
  z-index: 99;
  margin: 0 0 0 0;
}
.tab-pane:nth-of-type(3){
  display: none;
}
.tab-pane:nth-of-type(4){
  display: none;
}
#banner{

  transform: rotate(-25deg);
  margin: -15% 0 -15% 0;
}
#banner .display-1{
  font-size: 25vw;
  font-weight: 600;
  color: rgb(228, 238, 238);
}
#container{
  border-radius: 18vw;
  border-color: rgb(102, 40, 40, .6);
  border-right-style: solid;
background: linear-gradient(300deg,
    rgba(252,229,148,.65) 38%,
    rgba(252,229,148,.95) 53%,
    rgba(255,255,255,1) 75%); 
    /* url(/images/text.svg) -61% -5%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  width: 78%;
  height: 720px;
  margin: 3% 15%;
}
#ime_word{ 
  text-align: center;
  box-sizing: border-box;
}
#ime_wrapper{
  flex: 50%;
  outline: 10px dashed  rgb(228, 238, 238);
  max-width: 300px;
  margin: 50px 0;
  padding: 0 20px;
  box-sizing: border-box;
}
#ime_wrapper h1{
  transform: scale(1.1);
}
#reviewCont{
  /* min-width: 50%; */
  flex: 50%;
  line-height: 30px;
  transform: scale(1.2);
  box-sizing: border-box;
  max-height: 50vh;
  max-width: 290px;
  margin: 15vh 0px 0px 0px;
  text-align: center;
  background-image: url("../images/bg1.png");
  background-size: 280px;
  background-repeat: no-repeat;
  background-position: 0px 12px;
}
footer{
  transform: scale(0.8);
  text-align: left;
}
#footer2{
  display:none;
}
#git{
    float: left;
    width: 50px;
    margin-right: 20px;
}
h1{
  font-size: 1.8vw;
  font-style: italic;
  margin: 0px 30px 20px 0;
  display: inline-block;
}
h2{
  font-size: 1.9rem;
  display: inline-block;
  margin: 0px 0 10px 0 0;
}
@font-face{
  font-family: 'fnt_pronunciation';
  src: url(../font/Chonburi-Regular.ttf)
}
.ion {
	display: inline-block;
	font-family: "Ionicons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
  z-index: -99;
}
.ion-hint:before {
	content: "\f101";
}
.ion-up:before{
  content: "\f10d"
  /* ion-arrow-up-b */
}
/* single-page icons */
.ion-back:before{
	content: "\f107";
	/* or ion-arrow-left-b */
}
.ion-next:before{
	content: "\f10a"
	/* ion-arrow-right-b */
}
.ion-clear:before{
	content:"\f4a1";
	/* ion-ios-rewind */
}
.ion-short:before{
	content: "\f470";
	/* ion-ios-nutrition */
}
.ion-long:before{
	content: "\f2a8";
	/* ion-pizza */
}
/*for offline display*/
.ion-alert:before{
	content: "\f101";
}
.ion-loop:before {
	content: "\f201";
}
.ion-search:before{
  font-family: "Ionicons";
  content: "\f21f"
}
.ion-new:before{
  font-family: "Ionicons";
  content: "\f48a"
}
.ion-save:before{
  font-family: "Ionicons";
  content: "\f255"
}
.ion-nav:after{
  content: none;
}
.ion-nav:before{
  display:none;
}
.ion-refresh:before{
  font-family: "Ionicons";
  content: "\f21c"
}

.input-group-text, #seaIpt{
  background-color:rgba(255, 255, 255, 0.25);
  border-color: #343a40;
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.4)
}
#seaIpt{
  border-right: 0px;
  
}
#ionSea:hover, #ionNew:hover, #ionSave:hover{
  background-color: lightgrey;
  cursor: pointer;
}
.seaPs{
  display: block;

}
button{
  margin: 0 2px 16px;  
}
.btn-outline-dark{
  box-shadow: 2px 2px 4px rgba(0,0,0, 0.4);
  background-color: rgba(255, 255, 255, 0.25);
  font-weight: 450
}
.btn-outline-dark:hover{
  background-color: rgba(0,0,0, 0.5);
}
#btnPrev, #btnNext, #btnHint, #react-draw{
  margin-bottom: 5px;
  width: 60px;  
  display: inline-block;
  padding: 0;
  margin: -2px;
}

#btnPrev span, #btnNext span{
  font-size: 17px;
}
p{
  background-color: rgba(255, 255, 255, 0.3);
  text-overflow: ellipsis; 
  z-index: 99;
}
#idDisplay{
  font-size: 12px;
  padding: 0 1px;
  top: -17px;
}
p:not(#pHint){
  background-color: rgba(255, 255, 255, 0.3);
  color: #007bff;
  margin-bottom: 10px;
  font-weight: 560;
}
select{
  background-color: rgba(255, 255, 255, 0.4);
  padding-bottom: 10px;
}
#reviewCont #pinyin{
  font-family: 'fnt_pronunciation';
  
}
#dvLevel, #dvConsult span, #LevelCont, #combTitle{
  display: inline-block;
  font-size: 0.7em;
  font-weight: 750;
  color: rgb(95, 95, 95);
  background-color: rgb(255, 255, 255, 0);
}
/* preserves bgcolor when hidding def*/
#dvPcombHint{
  margin-top: 20px;
  
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.3);
}
#pHint{
  margin-bottom: 0px;
}

#reviewCont #dvConsult{
  display: inline-block;
}
.nav{
  display: none;
}
.nav-item a{
  color: #495057;
}

@media screen and (max-width:1200px){
  h1{
    font-size: 2vw;
  }
  .display-3{
    margin: 0 0 0 -5%;
  }
}
@media screen and (max-width:760px){
  h1{
    font-size: 2.5vw
  }
  #reviewCont{
    transform: scale(1.1);
    
  }
  #ime_wrapper h1{
    transform: scale(1);
    
  }
  #ime_wrapper{
    outline: 0px;
  }
}
@media screen and (max-width:760px){
  #divDownload{
    display: none;
  }
  .ion-nav:before{
    display:unset;
    font-family: "Ionicons";
    font-size: 35px;
    color: rgb(204, 204, 204);
    content: "\f20d";
  }
  .dropdown{
    text-align: left;
  }
  #reviewCont{
    transform: scale(1);
    margin-top: 0%;
    width: 100%;
    max-width: 90%;
    
  }
  h1{
    font-size: 22.5px
  }
  .display-3{
    font-size: 35px;
  }
  #container{
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-40deg,
    rgba(252,229,148,.65) 18%,
    rgba(252,229,148,.95) 52%,
    rgba(255,255,255,1) 79%);
    /* url(/images/text.svg) -61% -5%; */
    height: 600px;
    width: 90%;
    margin: 5%;
  }
  #ime_wrapper{
    margin: 155px 0
  }

}
@media screen and (max-width:760px){
  body{
    background: linear-gradient(to bottom, 
    rgba(252,229,148) 1%,
    
    rgb(255, 255, 255, .9), 
    #F0C869
    );
    background-size: 50%;
  }
  
  #container{
    /* visibility: hidden; */
    justify-content: flex-start;
    border-style: none;
    width: 100%; 
    height: 560px;
    margin: 0;
    border-radius: 0;
    background: none;
    background: linear-gradient(-40deg,
    #F0C869, 
    rgba(252,229,148) 20%,
    
    rgba(252,229,148,.95) 28%,
    rgba(255,255,255,.85) 62%);
    /* url(/images/text.svg) -61% -5% / 70%; */
  }
  .display-3{ 
    display: none;
  }
  #reviewCont{
    margin-top: 52px;
    height: 695px;
  }
  #root{
    height: 510px
  }
  #pronReview{
    margin-top: 20px;
  }
  #sentReview{
    display: none;
    background-color: rgba(255, 255, 255, 0.507);
    text-align: left;
    height: 405px;
    overflow-y: scroll;
  }
  .nav{
    display: flex;
    position: fixed;
    /* margin-top: 55px; */
  }
  #LevelCont{
    margin-top:40px;
  }
  #searchCont{
    padding: 10px 10px;
    margin: 50px 2% 0 0;
    color: #007bff;
    font-weight: bolder;
    padding-bottom: 70px;
  }
  /*same as #searchCont, but this syncs with bootstrap specificty*/
  .tab-content, .tab-content .active {
    display: block;
  }
  #searchCont .input-group{
    margin: 10px auto;
    width: 61%
  }
  #searchCont table{
    border-bottom: 3px dashed lightgrey;
    margin: 0 auto 10px ;
  }
  #searchCont td{
    vertical-align: top;
    width: 50%;
    padding-bottom: 10px;
  }
  #searchCont td:first-of-type{
    padding-right: 45px;
  }
  #searchCont td:nth-child(2){
    border-left: 3px dashed lightgrey;
    padding-left: 10px;
  }
  #searchCont p{
    color: black;
    background-color: transparent;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 10px;
  }
  #searchCont span[id*="Def"]{
    /* display: inline-block; */
    padding-left: 10px;
  }
  #seaDef span[id*="Def"]{
    padding-left: 0px;
  }
  #seaDef img{
    margin-left: -5px;
  }
  #banner{
    display: none;
  }
  #ime_wrapper{
    margin: 75px 0 0 0
  }
  #pinyin{
    margin: 10px 0 10px 0;
  }
  footer{
    display: none;
  }
  #footer2{
    background: #F0C869;
    padding: 7px 0px;
    font-size:  0.8em;
    display: block;
    position:fixed;
    bottom: 0;
    z-index:999999;
    width: 100%;
  }
  #git2 {
    float: left;
    width: 30px;
    margin: 0 20px 0 20%;
  }
  #mobileTitle{
    display: block;
    margin-top: 0;
  }
  #brLvl{
    display: none;
  }
  #navLinks{
    margin-top: 0;
    position: fixed;
    top: 40px;
    background-color: white;
  }
  #nav{
    background-color: white;
    z-index: 99;
    display: flex;
    width: 100%;
  }
  /* .nav-justified .nav-item{
    width: 30%;
  } */
  .nav-item{
    flex:1
  }
   #navLinks {
    display: flex;
    width: 100%;
  } 
  #navLinks li{
    flex: 1
  }
  #nav .nav-tabs .nav-link{
    border: 1px solid #DDDDDD;
  }
  .nav-tabs .nav-link.active{
    background-color: #EEEEEE
  }
}
@media screen and (max-width:760px){
  .display-3{
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
  }
 
  #container h1{
    display: none;
  }

  #reviewCont{ 
    background-size: 100%;
    /* margin-top: 5%;  */
  }
 
  #ime_wrapper{
    margin: 75px 0 0 0
  }
  .form-control{
    background-color: rgb(255, 255, 255, 0.3)
  }
 
}
#seaSen{
  margin: 0 auto 0;
}
#links{
  margin: 83px 0 0 0;
  width: 100%
}
#links iframe{
  width: 100%; 
  height: 78vh
}
#mobileTitle{
  display:none;
  color: rgb(189, 189, 189);
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-shadow: -1px 0 rgb(121, 121, 121), 
                0 1px rgb(121, 121, 121), 
                1px 0 rgb(121, 121, 121), 
                0 -1px rgb(121, 121, 121);
  /* font-weight: 910; */
  font-size: 2.2em;
  margin: 10px 0 20px 0;
}
picture{
  display:none;
}
#loadOverlay{
  display: none;
}

.iframeCont{
  display: none;
}
.iframeCont button{
  display: inline-block;
  margin: -3px;
  width: 33%
}